.favoriteButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
