.giftContainer{
    width:100%;
    background:#ecf7e7;
    margin-top:15px;
    padding:15px 20px;
    
}
.giftListGrid{
    display:grid;
    gap:10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top:10px;
}