/* src/app/globals.scss */
:root {
  --color-bg: #ffffff;
  --color-text: #111111;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 16px;
  --gap-4: 24px;
  --gap-5: 32px;

  --container-max: 1280px;
}

/* ─────────── 기본 리셋 ─────────── */

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica,
    "Apple SD Gothic Neo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  word-spacing: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.divider{
  width:100%;
  border-top:1px;
  height:1px;
  border-color: #e3e3e3;
}

.main-container {
  min-width: auto;
  width: 100%;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
}

.title-2{
  font-size: 1.1rem;
  font-weight:bold;
}

.r-10{
  border-radius: 10px;
}

//말줄임
.text-ellipsis{
  width:100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 

  &.ellipsis-row-2{
    white-space:inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
  }
}
