.productListContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 8px;
  row-gap: 10px;
  padding-left: 16px;
  padding-right: 16px;

  .productCardArea{
    margin-top:10px;
    margin-bottom:10px;
  }

  .fullGrid {
    grid-column: 1 / -1;
    margin:0 -16px;
  }
}
